<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand mb-0 me-0" routerLink="/" style="margin-left: -110px;">Home</a>
        </li>
        <li class="nav-item">
          <input class="form-control justify-content-center searchForm" style="margin-left: 105px;" type="search" placeholder="Search"
            aria-label="Search">
        </li>
      </ul>
      <ul class="navbar-nav mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cart">Cart</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="text" placeholder="Enter Email" class="form-control">
          </div>
          <div class="mb-3">
            <input type="password" placeholder="Enter Password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>