<div class="card mt-5" style="width: 18rem;">
    <div class="card-header">
        On sale!!
    </div>
    <img src="/assets/img/image.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">Kolkata Book</h5>
        <h5 class="card-title text-center">500</h5>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success">Buy now</button>
        </div>
    </div>
</div>